.tools-content {
    padding-top: 70px;

    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
        line-height: 100%;

        img {
            height: auto;
            vertical-align: middle;

            @include breakpoint-992 {
                margin: 0 auto;
                order: -1;
            }
        }

        div {
            width: 509px;
            padding: 0 20px;
            margin-bottom: 20px;

            @include breakpoint-992 {
                width: 470px;
                margin: 0 auto;
            }

            h2 {
                font-family: 'Aeroport-Bold';
                font-weight: 700;
                font-size: 22px;
                line-height: 40px;
                background-image: linear-gradient(180deg, #B926AE 0%, #7A16E6 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-bottom: 10px;
            }

            p {
                font-family: 'Aeroport-Regular';
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                color: #303030;

                &:nth-child(3) {
                    margin-top: 30px;
                }
            }
        }
    }

    span {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        line-height: 29px;
        text-align: center;
        color: #303030;
        margin-bottom: 70px;
    }
}