@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto&display=swap");
@font-face {
  font-family: 'Aeroport-Light';
  font-weight: 300;
  font-style: normal;
  src: local("Aeroport-Light"), url("../fonts/Aeroport-Light.woff2") format("woff2"), url("../fonts/Aeroport-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Aeroport-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Aeroport-Regular"), url("../fonts/Aeroport-Regular.woff2") format("woff2"), url("../fonts/Aeroport-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Aeroport-Medium';
  font-weight: 500;
  font-style: normal;
  src: local("Aeroport-Medium"), url("../fonts/Aeroport-Medium.woff2") format("woff2"), url("../fonts/Aeroport-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Aeroport-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("Aeroport-Bold"), url("../fonts/Aeroport-Bold.woff2") format("woff2"), url("../fonts/Aeroport-Bold.woff") format("woff");
  font-display: swap;
}

.blog {
  padding: 70px 0;
  background-color: #F9F9F9;
}

.blog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 992px) {
  .blog-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.blog-item {
  max-width: 330px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(133, 133, 133, 0.25);
          box-shadow: 0px 4px 20px rgba(133, 133, 133, 0.25);
  border-radius: 10px;
}

.blog-item .image-item {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: auto;
}

.blog-item .item-content {
  padding: 21px 24px 30px 24px;
}

.blog-item .item-content__date {
  font-family: 'Aeroport-Regular';
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #575757;
  margin-bottom: 8px;
}

.blog-item .item-content__title {
  font-family: 'Aeroport-Bold';
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-align: start;
  margin-bottom: 5px;
}

.blog-item .item-content__title a {
  color: #303030;
}

.blog-item .item-content__description {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.blog-content {
  padding: 70px 0 35px 0;
  background-color: #F9F9F9;
}

.blog-content__date {
  font-family: 'Aeroport-Regular';
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #303030;
  margin-bottom: 9px;
}

.blog-content__title {
  font-family: 'Aeroport-Medium';
  font-weight: 500;
  font-size: 36px;
  line-height: 25px;
  margin-bottom: 33px;
  padding: 7px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B926AE), to(#7A16E6));
  background-image: linear-gradient(180deg, #B926AE 0%, #7A16E6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog-content__image {
  max-width: 100%;
  height: auto;
  margin-bottom: 50px;
  border-radius: 10px;
}

.blog-content ol {
  list-style-position: inside;
  padding: 0;
}

.blog-content ol > li {
  font-family: 'Aeroport-Regular';
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 30px;
  color: #303030;
}

.blog-content ol > li::marker {
  font-family: 'Aeroport-Bold';
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #303030;
}

.blog-content ol > li h2 {
  margin-left: 26px;
  margin-top: -26px;
  margin-bottom: 5px;
  font-family: 'Aeroport-Bold';
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #303030;
}

.blog-content ol > li p {
  margin-top: 25px;
}

.content {
  background-color: #F9F9F9;
}

.terms-content {
  padding: 40px 0 70px 0;
}

.terms-content ol {
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.terms-content ol > li {
  margin-top: 30px;
}

.terms-content ol > li::marker {
  font-family: 'Aeroport-Bold';
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #991ECB;
}

.terms-content ol > li h2 {
  font-family: 'Aeroport-Bold';
  font-weight: 700;
  font-size: 22px;
  line-height: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B926AE), to(#7A16E6));
  background-image: linear-gradient(180deg, #B926AE 0%, #7A16E6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 26px;
  margin-top: -35px;
  margin-bottom: 15px;
}

.terms-content ul {
  padding: 0;
}

.terms-content ul > li {
  font-family: 'Aeroport-Regular';
  font-size: 18px;
  line-height: 20px;
  color: #303030;
  margin-bottom: 25px;
}

.terms-content ul > li::marker {
  content: "- ";
  color: #303030;
}

.terms-content p {
  font-family: 'Aeroport-Regular';
  font-size: 18px;
  color: #303030;
}

.terms-content p:last-child {
  margin-top: 35px;
}

.terms-content p span {
  font-family: 'Aeroport-Bold';
  font-weight: 700;
}

.tools-content {
  padding-top: 70px;
}

.tools-content__description {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #303030;
  margin-bottom: 70px;
}

.tools-content .tools-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.tools-content .tools-item:last-child {
  margin-bottom: 50px;
}

.tools-content .tools-item .image-item {
  height: auto;
}

@media (max-width: 992px) {
  .tools-content .tools-item .image-item {
    margin: 0 auto;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.tools-content .tools-item .item-content {
  width: 509px;
  padding: 0 20px;
}

.tools-content .tools-item .item-content__title {
  font-family: 'Aeroport-Bold';
  font-weight: 700;
  font-size: 22px;
  line-height: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B926AE), to(#7A16E6));
  background-image: linear-gradient(180deg, #B926AE 0%, #7A16E6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.tools-content .tools-item .item-content__text {
  font-family: 'Aeroport-Regular';
  font-weight: 400;
  font-size: 18px;
  color: #303030;
}

@media (max-width: 992px) {
  .tools-content .tools-item .item-content {
    width: 470px;
    margin: 0 auto;
  }
}

.contact {
  background-color: #F9F9F9;
  padding: 30px 0 136px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .contact-form form {
    width: 100%;
  }
}

.contact-form p {
  font-family: 'Aeroport-Light';
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  color: #0D0D0D;
}

.input-form {
  width: 675px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #8319DF;
  padding: 24px 30px 24px 20px;
  font-family: 'Aeroport-Light';
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 30px;
}

.input-form::-webkit-input-placeholder {
  color: #C5C5C5;
}

.input-form:-ms-input-placeholder {
  color: #C5C5C5;
}

.input-form::-ms-input-placeholder {
  color: #C5C5C5;
}

.input-form::placeholder {
  color: #C5C5C5;
}

@media (max-width: 768px) {
  .input-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .input-form {
    margin-bottom: 10px;
  }
}

.textarea-form {
  width: 675px;
  height: 129px;
  border-radius: 10px;
  border: 1px solid #8319DF;
  resize: none;
  margin-bottom: 20px;
  padding: 2px 18px;
}

.textarea-form::-webkit-input-placeholder {
  font-family: 'Aeroport-Light';
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  color: #C5C5C5;
}

.textarea-form:-ms-input-placeholder {
  font-family: 'Aeroport-Light';
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  color: #C5C5C5;
}

.textarea-form::-ms-input-placeholder {
  font-family: 'Aeroport-Light';
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  color: #C5C5C5;
}

.textarea-form::placeholder {
  font-family: 'Aeroport-Light';
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  color: #C5C5C5;
}

@media (max-width: 768px) {
  .textarea-form {
    width: 100%;
  }
}

.btn-contact {
  width: 259px;
  height: 59px;
  margin: 0 auto;
  border: none;
  padding: 21px 94px;
  background: -webkit-gradient(linear, left top, left bottom, from(#B926AE), to(#7A16E6));
  background: linear-gradient(180deg, #B926AE 0%, #7A16E6 100%);
  border-radius: 10px;
  font-family: 'Aeroport-Bold';
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  color: #fff;
  cursor: pointer;
}

/* Header */
.container {
  max-width: 1060px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.logo p {
  font-family: 'Aeroport-Bold';
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000;
  text-transform: uppercase;
  margin-left: 18px;
}

.header__top {
  padding-top: 13px;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 13px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__btn {
  display: none;
}

@media (max-width: 992px) {
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
    right: 15px;
    z-index: 50;
    cursor: pointer;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .menu__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: #fff;
    height: 270px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
}

.menu__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Aeroport-Regular';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__list-item:not(:first-child) {
  margin-left: 50px;
}

.menu__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}

.menu__list-link span {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.menu__list-link img {
  margin-left: 8px;
  height: auto;
}

.select-lang {
  position: relative;
  z-index: 20;
}

.select-lang__list {
  position: absolute;
  right: -10px;
  top: 37px;
  z-index: 50;
  width: 130px;
  height: 80px;
  background-color: #fff;
  border: 1px solid #C1CFF5;
  border-radius: 10px;
  text-transform: none;
  opacity: 1;
  visibility: visible;
}

.select-lang__list--hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

@media (max-width: 992px) {
  .select-lang__list {
    position: static;
    border-radius: 0;
    border: none;
    width: 230px;
  }
}

.select-lang__item {
  padding: 3px 20px;
  margin-top: 5px;
  font-size: 18px;
  line-height: 25px;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}

.select-lang__item a {
  color: #000;
}

.select-lang__item:hover {
  background-color: #ECF0F9;
}

/* Header content section */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 47px 0;
  background-color: #ECF0F9;
  position: relative;
  z-index: 10;
}

.content__pic-left {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.content__pic-left img {
  height: auto;
}

@media (max-width: 1280px) {
  .content__pic-left img {
    max-width: 80%;
  }
}

@media (max-width: 1200px) {
  .content__pic-left img {
    display: none;
  }
}

.content__pic-right {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.content__pic-right img {
  height: auto;
}

@media (max-width: 1366px) {
  .content__pic-right {
    right: 0;
  }
  .content__pic-right img {
    display: none;
  }
}

.content__box {
  position: relative;
  z-index: 80;
}

.content__inner {
  max-width: 720px;
  text-align: center;
}

.content__title {
  font-family: 'Aeroport-Regular';
  font-size: 36px;
  line-height: 45px;
  font-weight: 400;
  color: #303030;
  margin-bottom: 10px;
}

.content__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #575757;
}

.content__text-page {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  line-height: 29px;
  color: #575757;
  width: 725px;
}

@media (max-width: 768px) {
  .content__text-page {
    width: 100%;
  }
}

.content__image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}

@media (max-width: 1280px) {
  .content__image img {
    display: none;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 92px;
  padding-bottom: 69px;
}

@media (max-width: 576px) {
  .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.input-content {
  width: 650px;
  height: 65px;
  border-radius: 10px;
  border: 1px solid #C1CFF5;
  padding: 24px 30px 24px 20px;
  font-family: 'Aeroport-Light';
  font-weight: 300;
  font-size: 20px;
  line-height: 17px;
}

.input-content::-webkit-input-placeholder {
  color: #303030;
}

.input-content:-ms-input-placeholder {
  color: #303030;
}

.input-content::-ms-input-placeholder {
  color: #303030;
}

.input-content::placeholder {
  color: #303030;
}

@media (max-width: 768px) {
  .input-content {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .input-content {
    margin-bottom: 10px;
  }
}

.btn {
  display: block;
  width: 172px;
  height: 65px;
  border: none;
  padding: 24px 37px;
  background: -webkit-gradient(linear, left top, left bottom, from(#B926AE), to(#7A16E6));
  background: linear-gradient(180deg, #B926AE 0%, #7A16E6 100%);
  border-radius: 10px;
  font-family: 'Aeroport-Bold';
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  color: #fff;
  margin-left: -20px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .btn {
    width: 100%;
    margin-left: 0;
  }
}

/* Preloader */
.wrap-preloader {
  position: relative;
  margin: 0 auto;
}

.preloader {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 45px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 90;
}

.preloader p {
  width: 321px;
  font-family: 'Aeroport-Light';
  font-weight: 300;
  font-size: 14px;
  line-height: 12px;
}

.circlesvg {
  width: 50px;
  height: 50px;
  margin: 12px 0;
}

.bg {
  fill: none;
  stroke-width: 5px;
  stroke: transparent;
}

.meter-1 {
  fill: none;
  stroke-width: 5px;
  stroke-linecap: round;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-dasharray: 360;
  stroke-dashoffset: 0;
  stroke: #fff;
  -webkit-animation: progress 5s ease-out;
          animation: progress 5s ease-out;
}

@-webkit-keyframes progress {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes progress {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* Section advantage */
.advantage {
  padding: 70px 0;
  background-color: #F9F9F9;
}

.advantage__inner {
  max-width: 710px;
  text-align: center;
  margin: 0 auto 79px;
}

.advantage__title {
  font-family: 'Aeroport-Regular';
  font-size: 36px;
  line-height: 45px;
  font-weight: 400;
  color: #303030;
  margin-bottom: 10px;
}

.advantage__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  line-height: 29px;
  color: #575757;
}

.advantage__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .advantage__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 332px;
  height: 462px;
  padding: 14px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 20px rgba(133, 133, 133, 0.25);
          box-shadow: 0px 4px 20px rgba(133, 133, 133, 0.25);
}

.advantage__item h3 {
  font-size: 20px;
  margin-top: 29px;
  margin-bottom: 26px;
  min-height: 50px;
}

.advantage__item p {
  font-size: 16px;
  line-height: 21px;
  position: relative;
}

.advantage__item p::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 1px;
  background-color: #000;
  top: -13px;
  left: 40%;
}

.advantage__item p a {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .advantage__item {
    height: auto;
  }
}

@media (max-width: 768px) {
  .advantage__item {
    margin-bottom: 20px;
  }
}

.image-card {
  background: -webkit-gradient(linear, left top, left bottom, from(#EB626D), to(#EF8546));
  background: linear-gradient(180deg, #EB626D 0%, #EF8546 100%);
  border-radius: 10px;
  padding: 44px 87px;
}

@media (max-width: 992px) {
  .image-card {
    padding: 26px 72px;
  }
}

@media (max-width: 768px) {
  .image-card {
    padding: 26px 87px;
  }
}

.image-card img {
  height: auto;
}

/* Block video */
.video-box {
  position: relative;
  max-width: 548px;
  margin: 0 auto 26px;
}

.video-box img {
  position: absolute;
  top: 23px;
  right: 23px;
  z-index: 10;
}

video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-height: 100%;
  border: 1px solid #8319DF;
  border-radius: 10px;
}

.btn-video {
  display: block;
  width: 548px;
  height: 66px;
  margin: 0 auto;
  border: none;
  padding: 24px 37px;
  background: -webkit-gradient(linear, left top, left bottom, from(#B926AE), to(#7A16E6));
  background: linear-gradient(180deg, #B926AE 0%, #7A16E6 100%);
  border-radius: 10px;
  font-family: 'Aeroport-Bold';
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 16px;
}

.btn-video img {
  display: inline-block;
  vertical-align: sub;
}

.btn-video span {
  margin-left: 5px;
}

.btn-video--white {
  background: #fff;
  color: #000;
  border: 1px solid #8319DF;
  border-radius: 10px;
  margin-bottom: 70px;
}

@media (max-width: 576px) {
  .btn-video {
    width: 100%;
  }
}

/* Section work */
.work {
  padding: 50px 0;
  background-color: #ECF0F9;
}

.work__inner {
  max-width: 750px;
  text-align: center;
  margin: 0 auto 50px;
}

.work__title {
  font-family: 'Aeroport-Regular';
  font-size: 36px;
  line-height: 45px;
  font-weight: 400;
  color: #303030;
  margin-bottom: 10px;
}

.work__text {
  font-family: 'Montserrat', sans-serif;
  max-width: 717px;
  font-size: 22px;
  line-height: 29px;
}

.work__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 26px 36px 76px;
  background-color: #fff;
  width: 508px;
  min-height: 193px;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0px 4px 20px rgba(133, 133, 133, 0.25));
          filter: drop-shadow(0px 4px 20px rgba(133, 133, 133, 0.25));
  position: relative;
}

.work__item:last-child {
  width: 684px;
  min-height: 107px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .work__item:last-child {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .work__item {
    width: 465px;
  }
}

@media (max-width: 992px) {
  .work__item {
    width: 100%;
    min-height: 160px;
  }
}

.work__item .image-item {
  position: absolute;
  top: 9px;
  left: 9px;
}

.work__item-title {
  font-family: 'Aeroport-Bold';
  font-weight: 700;
  color: #303030;
  margin-bottom: 15px;
}

.work__item-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 21px;
}

.work__item-text span {
  font-weight: 600;
}

.work__item-text a {
  text-decoration: underline;
}

/* Section assistant*/
.assistant {
  padding: 70px 0;
}

.assistant__title {
  font-family: 'Aeroport-Regular';
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #303030;
  max-width: 723px;
  text-align: center;
  margin: 0 auto 64px;
}

.assistant__content li {
  list-style-type: none;
}

.assistant__content li:not(:last-child) {
  margin-bottom: 50px;
}

.assistant__content h3 {
  font-family: 'Aeroport-Bold';
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
}

.assistant__content p {
  font-size: 18px;
  line-height: 25px;
  font-family: 'Aeroport-Regular';
  font-weight: 400;
  color: #303030;
  position: relative;
  padding-left: 62px;
}

.assistant__content p::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: linear-gradient(222.19deg, #9D5AA3 19.85%, #BB5981 37.14%, #DC6062 52.62%, #E76F59 67.75%, #EDA66A 84.45%);
  left: 0;
  top: 0;
  border-radius: 5px;
}

/* Section question */
.question {
  margin-bottom: 70px;
}

.question__title {
  font-family: 'Aeroport-Regular';
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #303030;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.question__item {
  font-size: 18px;
  line-height: 25px;
  font-family: 'Aeroport-Regular';
  font-weight: 400;
  color: #303030;
  margin-bottom: 40px;
}

.question__item h3 {
  font-size: 20px;
  line-height: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #ECF0F9;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 19px;
}

.question__text {
  padding: 0 68px;
}

.question__text p:not(:nth-child(3)) {
  margin-bottom: 35px;
}

.question__text ul {
  margin: 0;
}

/* Footer */
.footer {
  background-color: #ECF0F9;
  padding: 42px 0 52px 0;
}

@media (max-width: 576px) {
  .footer {
    padding: 42px 20px 52px 20px;
  }
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 25px 116px 0px 0px;
}

.footer ul li {
  font-family: 'Aeroport-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.footer ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  color: #000000;
}

.footer ul li:not(:last-child) {
  margin-bottom: 9px;
}
/*# sourceMappingURL=style.css.map */