@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto&display=swap');
@import 'fonts';
@import 'mixin';
@import 'blog';

body {
    font-family: 'Montserrat', sans-serif;
    color: #575757;
}

h2 {
    font-family: 'Aeroport-Regular';
    font-size: 36px;
    line-height: 45px;
    font-weight: 400;
    color: #303030;
    // text-align: center;
}

h3 {
    font-family: 'Aeroport-Bold';
    font-weight: 700;
    color: #303030;
}

/* Header */

.container {
    max-width: 1060px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
        font-family: 'Aeroport-Bold';
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        color: #000;
        text-transform: uppercase;
        margin-left: 18px;
    }
}

.header {
    &__top {
        padding-top: 13px;
    }

    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 13px;
        // position: relative;
    }
}

.menu {
    display: flex;

    @include breakpoint-992 {
        // display: none; 
    }

    &__btn {
        display: none;

        @include breakpoint-992 {
            display: flex;
            background-color: transparent;
            border: none;
            padding: 0;
            position: relative;
            right: 15px;
            z-index: 50;
            cursor: pointer;
        }
    }

    &__list {
        display: flex;

        @include breakpoint-992 {
            display: none;
            // display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            background-color: #fff;
            height: 270px;
            // transform: translateY(-130%);
            transition: transform 0.5s;
    
            // &--active {
            //     transform: translateY(0%);
            // }
        }
    }

    &__list-item {
        display: flex;
        font-family: 'Aeroport-Regular';
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        flex-direction: column;

        &:not(:first-child) {
            margin-left: 50px;
        }
    }

    &__list-link {
        display: flex;
        color: #000;

        span {
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
        }

        img {
            margin-left: 8px;
            height: auto;
        }
    }
}

.select-lang {
    position: relative;
    z-index: 20;
    
    // @include breakpoint-992 {
    //     margin-top: 50px;
    // }

    &__list {
        position: absolute;
        right: -10px;
        top: 37px;
        z-index: 50;
        width: 130px;
        height: 80px;
        background-color: #fff;
        border: 1px solid #C1CFF5;
        border-radius: 10px;
        text-transform: none;
        opacity: 1;
        visibility: visible;

        &--hidden {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s;
        }

        @include breakpoint-992 {
            position: static;
            border-radius: 0;
            border: none;
            width: 230px;
        }
    }

    &__item {
        padding: 3px 20px;
        margin-top: 5px;
        font-size: 18px;
        line-height: 25px;
        transition: background-color 0.1s ease-in;
        a {
            color: #000;
        }

        &:hover {
            background-color: #ECF0F9;
        }
    }
}

/* Header content section */

.content {
    display: flex;
    flex-direction: column;
    padding: 47px 0;
    background-color: #ECF0F9;
    position: relative;
    z-index: 10;

    &__pic-left {
        position: absolute;
        left: 10px;
        bottom: 10px;

        img {
            height: auto;
        }

        @include breakpoint-1280 {
            img {
                max-width: 80%;
            }
        }

        @include breakpoint-1200 {
            img {
                display: none;
            }
        }
    }

    &__pic-right {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;

        img {
            height: auto;
        }

        @include breakpoint-1366 {
            right: 0;
            
            img {
                display: none;
            }
        }
    }

    &__box {
        position: relative;
        z-index: 80;
    }
    
    &__inner {
        max-width: 668px;
        text-align: center;
        
        h2 {
            margin-bottom: 10px;
        }

        p {
            font-size: 20px;
            line-height: 26px;
        }
    }

    &__image {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 5;

        @include breakpoint-1280 {
            img {
                display: none;
            }
        }
    }
}

.form {
    display: flex;
    margin-top: 92px;
    padding-bottom: 69px;

    @include breakpoint-576 {
        flex-wrap: wrap;
    }
}

.input-content {
    width: 650px;
    height: 65px;
    border-radius: 10px;
    border: 1px solid #C1CFF5;
    padding: 24px 30px 24px 20px;
    font-family: 'Aeroport-Light';
    font-weight: 300;
    font-size: 20px;
    line-height: 17px;
    
    &::placeholder {
        color: #303030; 
    }

    @include breakpoint-768 {
        width: 100%;
    }

    @include breakpoint-576 {
        margin-bottom: 10px;
    }
}

.btn {
    display: block;
    width: 172px;
    height: 65px;
    border: none;
    padding: 24px 37px;
    background: linear-gradient(180deg, #B926AE 0%, #7A16E6 100%);
    border-radius: 10px;
    font-family: 'Aeroport-Bold';
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #fff;
    margin-left: -20px;
    cursor: pointer;

    @include breakpoint-576 {
        width: 100%;
        margin-left: 0;
    }
}

/* Preloader */

.wrap-preloader {
    position: relative;
    margin: 0 auto;
}

.preloader {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45px;
    transform: translate(-50%, -50%);
    z-index: 90;

    p {
        width: 321px;
        font-family: 'Aeroport-Light';
        font-weight: 300;
        font-size: 14px;
        line-height: 12px;
    }
  }
  
.circlesvg {
    width: 50px;
    height: 50px;
    margin: 12px 0;
  }
  
.bg {
    fill: none;
    stroke-width: 5px;
    stroke: transparent;
  }
  
.meter-1 {
    fill: none;
    stroke-width: 5px;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dasharray: 360;
    stroke-dashoffset: 0;
    stroke: #fff;
    animation: progress 5s ease-out;
  }
  
@keyframes progress {
      from {
          stroke-dashoffset: 360;
      }
      to {
          stroke-dashoffset: 0;
      }
  }
  

/* Section advantage */
.advantage {
    padding: 70px 0;
    background-color: #F9F9F9;

    &__inner{
        max-width: 710px;
        text-align: center;
        margin: 0 auto 79px; 
        
        h2 {
            margin-bottom: 10px;
        }

        p {
            font-size: 22px;
            line-height: 29px;
        }
    }
    // убрать класс с ul
    &__items {
        display: flex;
        column-gap: 20px;
        text-align: center;

        @include breakpoint-768 {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 332px;
        height: 462px;
        padding: 14px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 4px 20px rgba(133, 133, 133, 0.25);

        h3 {
            font-size: 20px;
            margin-top: 29px;
            margin-bottom: 26px;
            min-height: 50px;
        }

        p {
            font-size: 16px;
            line-height: 21px;
            // margin-bottom: 42px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 61px;
                height: 1px;
                background-color: #000;
                top: -13px;
                left: 40%;
            }

            a {
                text-decoration: underline;
            }
        }

        @include breakpoint-992 {
            height: auto;
        }

        @include breakpoint-768 {
            margin-bottom: 20px;
        }
    }
}

.image-card {
    background: linear-gradient(180deg, #EB626D 0%, #EF8546 100%);
    border-radius: 10px;
    padding: 44px 87px;

    @include breakpoint-992 {
        padding: 26px 72px;
    }

    @include breakpoint-768 {
        padding: 26px 87px;
    }

    img {
        height: auto;
    } 
}

/* Block video */

.video-box {
    position: relative;
    max-width: 548px;
    margin: 0 auto 26px;

    img {
        position: absolute;
        top: 23px;
        right: 23px;
        z-index: 10;
    }
}

video {
    display: flex;
    width: 100%;
    height: auto;
    max-height: 100%;
    border: 1px solid #8319DF;
    border-radius: 10px;
}

.btn-video {
    display: block;
    width: 548px;
    height: 66px;
    margin: 0 auto;
    border: none;
    padding: 24px 37px;
    background: linear-gradient(180deg, #B926AE 0%, #7A16E6 100%);
    border-radius: 10px;
    font-family: 'Aeroport-Bold';
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 16px;

    img {
        display: inline-block;
        vertical-align: sub;
    }

    span {
        margin-left: 5px;
    }

    &--white {
        background: #fff;
        color: #000;
        border: 1px solid #8319DF;
        border-radius: 10px;
    }

    @include breakpoint-576 {
        width: 100%;
    }
}

/* Section work */
.work {
    padding: 50px 0;
    background-color: #ECF0F9;

    &__inner {
        max-width: 750px;
        text-align: center;
        margin: 0 auto 50px;

        h2 {
            margin-bottom: 10px;
        }

        p {
            max-width: 717px;
            font-size: 22px;
            line-height: 29px;
        }
    }

    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 22px 26px 36px 76px;
        background-color: #fff;
        width: 508px;
        min-height: 193px;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 20px rgba(133, 133, 133, 0.25));
        position: relative;

        &:last-child {
            width: 684px;
            min-height: 107px;
            margin: 0 auto;

            @include breakpoint-992 {
                width: 100%;
            }
        }

        img {
            position: absolute;
            top: 9px;
            left: 9px;
        }

        h3 {
            margin-bottom: 15px;
        }

        p {
            font-size: 16px;
            line-height: 21px;
            font-family: 'Montserrat', sans-serif;

            span {
                font-weight: 600;
            }

            a {
                text-decoration: underline;
            }
        }

        @include breakpoint-1200 {
            width: 465px;
        }

        @include breakpoint-992 {
            width: 100%;
            min-height: 160px;
        }
    }
}

/* Section assistant*/
.assistant {
    padding: 70px 0;

    h2 {
        max-width: 723px;
        margin: 0 auto 64px;
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 50px;
        }

        h3 {
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            line-height: 25px;
            font-family: 'Aeroport-Regular';
            font-weight: 400;
            color: #303030;
            position: relative;
            padding-left: 62px;

            &::before {
                content: "";
                position: absolute;
                width: 6px;
                height: 100%;
                background: linear-gradient(222.19deg, #9D5AA3 19.85%, #BB5981 37.14%, #DC6062 52.62%, #E76F59 67.75%, #EDA66A 84.45%);
                left: 0;
                top: 0;
                border-radius: 5px;
            }
        }
    }
}

/* Section question */

.question {
    margin-bottom: 70px;

    h2 {
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    &__item {
        font-size: 18px;
        line-height: 25px;
        font-family: 'Aeroport-Regular';
        font-weight: 400;
        color: #303030;
        margin-bottom: 40px;
        
        h3 {
            font-size: 20px;
            line-height: 26px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            background-color: #ECF0F9;
            border-radius: 10px;
            margin-bottom: 25px;
            padding: 19px;
        }
    }

    &__text {
        padding: 0 68px;

        p {
            &:not(:nth-child(3)) {
                margin-bottom: 35px;
            }
        }

        ul {
            margin: 0;
        }
    }
}

/* Footer */

.footer {
    background-color: #ECF0F9;
    padding: 42px 0 52px 0;

    @include breakpoint-576 {
        padding: 42px 20px 52px 20px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-lists {
        display: flex;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 25px 116px 0px 0px;

        li {
            font-family: 'Aeroport-Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
  
            a {
              display: flex;
              text-align: left;
              color: #000000;
            }
  
            &:not(:last-child) {
              margin-bottom: 9px;
            }
        }
    }
}

