.terms-content {
    
    h2 {
        font-family: 'Aeroport-Medium';
        font-weight: 500;
        font-size: 36px;
        line-height: 25px;
        margin-bottom: 33px;
        padding: 7px 0;
        background-image: linear-gradient(180deg, #B926AE 0%, #7A16E6 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    }
}